<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background-color: black">
	<h1 style="color: yellow">
		About this Auter
	</h1>
	<h3 style="color: red;">poriya daliry</h3>
	<p style="color: orange">
		<%= @title %>

	</p>
	<p style="color: orange">
		<%= @content %>
	</p>
</body>
</html>