<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.cl{
			color: red;
			background-color: yellow;
		}
	</style>
</head>
<body style="background-color: black;">
	<h1  style="background-color: red;text-align: center;border:5px solid black">Hello Ruby</h1>
	<h2 style="color: orange">Continue With Me</h2>
	<form style="margin: 0 auto; border-color: 5px orange">
		<span style="color: red;">  name</span>
		<input type="text" name="">
		<br>
		<span style="color: red;">lastname</span>
		<input type="text" name="">
		<br>
		<br>
		<input type="submit" name="">
		
	</form>
</body>
</html>
