<h1>
Add Post
</h1>

<%= form_with(url:posts_path, method: "post") do %>
     <%= label_tag(:title, "name:") %>
    
       <%= text_field_tag(:title) %>
       <br>
        <%= label_tag(:body, "describtions:") %>
        <br>
    <%= text_area_tag(:body, "Hi, nice site", size: "24x6") %>
    <br>
  <%= submit_tag("Search") %>

  <% end %>
